
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_cat/01_bodyU.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_cat/02_head.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_cat/03_armUR.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_cat/04_armDR.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_cat/05_handR.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_cat/06_armUL.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_cat/07_armDL.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_cat/08_handL.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_cat/09_legUR.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_cat/10_footR.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_cat/11_legUL.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_cat/12_footL.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_cat/13_weapons.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_cat/14_tail.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_rabbit/00_bodyD.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_rabbit/01_bodyU.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_rabbit/02_head.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_rabbit/03_armUR.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_rabbit/04_armDR.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_rabbit/05_handR.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_rabbit/06_armUL.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_rabbit/07_armDL.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_rabbit/08_handL.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_rabbit/09_legUR.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_rabbit/10_footR.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_rabbit/11_legUL.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_rabbit/12_footL.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_rabbit/13_weapons.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MODEL/kotomon_rabbit/14_tail.x
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MOTION/motion_cat_down.txt
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MOTION/motion_cat_up.txt
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MOTION/motion_rabbit_down.txt
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/MOTION/motion_rabbit_up.txt
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/TEXT/TexLoad.txt
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/TEXTURE/cat_uv.jpg
プログラム/超字言　コトバトル v0.03(プロトタイプ版)/data/TEXTURE/rabbit_uv.jpg
